@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);
@charset "UTF-8";
@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Regular.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1B1B1B;
  line-height: 1;
  font-family: "HelveticaNeueCyr";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "HelveticaNeueCyr";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: inline-flex;
  padding: 1rem 2.5rem;
  background-color: #FF9728;
  color: #fff;
  border-radius: 5.25rem;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #0D599C;
    transition: all 0.5s ease 0s;
  }
}
.button._fw {
  width: 100%;
}
.button_wide {
  padding: 1rem 4.375rem;
}
.button_blue {
  background-color: #0D599C;
  padding: 1rem 4.375rem;
}
@media (any-hover: hover) {
  .button_blue:hover {
    background-color: #f37703;
    transition: all 0.5s ease 0s;
  }
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgb(62, 60, 60);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgb(62, 60, 60);
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgb(62, 60, 60);
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgb(62, 60, 60);
}

.select {
  position: relative;
}
@media (max-width: 47.99875em) {
  :first-child .select {
    order: -2;
  }
}
.select__body {
  position: relative;
  border-radius: 30px;
  background-color: #016B9F;
  border: 1px solid #F6F6F6;
  padding: 14px 30px;
}
.select__title {
  color: inherit;
  text-align: left;
  cursor: pointer;
  width: 100%;
  color: rgb(62, 60, 60);
}
.select__value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.select__value:before {
  content: "";
  background: url("../img/icons/arrow.svg") 0 5px no-repeat;
  align-self: stretch;
  flex: 0 0 20px;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}
._select-open .select__value:before {
  transform: rotate(-180deg);
}
.select__text {
  flex: 1 1 auto;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  color: #000;
  position: absolute;
  top: 33px;
  border-radius: 0 0 30px 30px;
  min-width: 100%;
  left: 0;
  background: #b2e3ff;
  border-top: 0;
  border: 1px solid rgba(178, 227, 255, 0.8509803922);
  border-top: 0;
  padding: 10px 0 20px 0;
  z-index: -1;
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.select__scroll .simplebar-scrollbar::before {
  background-color: #FF9728;
}
.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
  border-radius: 0 0 20px 20px;
}
.select__option:nth-child(1) {
  padding-top: 20px;
}
.select__option._select-selected {
  background-color: #eee;
}
@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
.select__row {
  display: inline-flex;
  align-items: center;
}
.select._select-open {
  z-index: 5;
}
._select-tag {
  cursor: pointer;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background: linear-gradient(327.75deg, #0080BF 9.35%, #00496C 117.99%);
  max-width: 875px;
  border-radius: 50px;
}
@media (min-width: 75.5em) {
  .popup__content {
    padding: 4.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .popup__content {
    padding: clamp( 1.25rem , -0.0563063063rem  +  6.5315315315vw , 4.875rem );
  }
}
@media (max-width: 20em) {
  .popup__content {
    padding: 1.25rem;
  }
}
.lock .popup__content {
  visibility: visible;
}
@media (min-width: 47.99875em) {
  .popup__content {
    width: 100%;
  }
}

.popup__close {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  --weight: 2px;
  --aa: 1px;
  /* anti-aliasing */
  --color: #FF9728;
  border-radius: 3px;
  background: linear-gradient(45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa))), linear-gradient(-45deg, transparent calc(50% - var(--weight) - var(--aa)), var(--color) calc(50% - var(--weight)), var(--color) calc(50% + var(--weight)), transparent calc(50% + var(--weight) + var(--aa)));
  animation: spin 5s linear 0s infinite;
}
@media (min-width: 75.5em) {
  .popup__close {
    width: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .popup__close {
    width: clamp( 1.25rem , 1.0247747748rem  +  1.1261261261vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .popup__close {
    width: 1.25rem;
  }
}
@media (min-width: 75.5em) {
  .popup__close {
    height: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .popup__close {
    height: clamp( 1.25rem , 1.0247747748rem  +  1.1261261261vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .popup__close {
    height: 1.25rem;
  }
}
@media (any-hover: hover) {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
.popup__title {
  padding-right: 30px;
  font-weight: 700;
  text-align: left;
  color: #F9F9F9;
}
@media (min-width: 75.5em) {
  .popup__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .popup__title {
    font-size: clamp( 1.25rem , 0.7995495495rem  +  2.2522522523vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .popup__title {
    font-size: 1.25rem;
  }
}
@media (min-width: 75.5em) {
  .popup__title {
    line-height: 3.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .popup__title {
    line-height: clamp( 1.8125rem , 1.3620495495rem  +  2.2522522523vw , 3.0625rem );
  }
}
@media (max-width: 20em) {
  .popup__title {
    line-height: 1.8125rem;
  }
}
.form-popup {
  display: grid;
  gap: 40px;
}
.form-popup__column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
@media (max-width: 47.99875em) {
  .form-popup__column {
    grid-template-columns: repeat(1, 1fr);
  }
}
.form-popup__icon-for-input {
  position: relative;
}
.form-popup__icon-for-input .form-popup__input {
  background-color: #017CB9;
}
.form-popup__icon-for-input:before {
  content: "";
  position: absolute;
  background: url("../img/icons/calendar.svg") 0 0 no-repeat;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 20px;
  pointer-events: none;
}
.form-popup__input {
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #F6F6F6;
  padding: 14px 30px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.form-popup__button {
  justify-self: center;
}
.form-popup .form__error {
  color: red;
  position: absolute;
  transform: translate(50%, -90%);
  font-size: 3.125rem;
  z-index: 1;
}

.qs-datepicker-container {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(0%, -10%);
  font-size: 1rem;
  font-family: sans-serif;
  color: #000000;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  background: #b2e3ff;
  -webkit-box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  padding: 30px 5px 5px 5px;
}
.qs-datepicker-container:before, .qs-datepicker-container:after {
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  z-index: 2;
  position: absolute;
}
.qs-datepicker-container:before {
  top: 0;
}
.qs-datepicker-container:after {
  bottom: 0;
}

.qs-datepicker-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qs-datepicker-container.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.qs-datepicker-container.qs-hidden {
  display: none;
}

.qs-datepicker .qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.qs-datepicker .qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1;
}

.qs-datepicker .qs-overlay .qs-overlay-year {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 0.875em;
  padding: 0.25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.qs-datepicker .qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.qs-datepicker .qs-overlay .qs-close {
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.qs-datepicker .qs-overlay .qs-submit {
  border: 1px solid #fff;
  border-radius: 0.26392em;
  padding: 0.5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: hsla(0, 0%, 50.2%, 0.4);
}

.qs-datepicker .qs-overlay .qs-submit.qs-disabled {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}

.qs-datepicker .qs-overlay .qs-overlay-month-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.qs-datepicker .qs-overlay .qs-overlay-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33333%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.qs-datepicker .qs-overlay .qs-overlay-month.active,
.qs-datepicker .qs-overlay .qs-overlay-month:hover {
  opacity: 1;
}

.qs-datepicker .qs-controls {
  width: 100%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #000;
  color: #fff;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-controls.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-arrow {
  height: 1.5625em;
  width: 1.5625em;
  position: relative;
  cursor: pointer;
  border-radius: 0.26392em;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
}

.qs-datepicker .qs-arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

.qs-datepicker .qs-arrow:hover.qs-left:after {
  border-right-color: #000;
}

.qs-datepicker .qs-arrow:hover.qs-right:after {
  border-left-color: #000;
}

.qs-datepicker .qs-arrow:after {
  content: "";
  border: 0.39062em solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.qs-datepicker .qs-arrow.qs-left:after {
  border-right-color: grey;
  right: 50%;
  -webkit-transform: translate(25%, -50%);
  -ms-transform: translate(25%, -50%);
  transform: translate(25%, -50%);
}

.qs-datepicker .qs-arrow.qs-right:after {
  border-left-color: grey;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.qs-datepicker .qs-month-year {
  font-weight: 700;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.qs-datepicker .qs-month-year:hover {
  border-bottom: 1px solid grey;
}

.qs-datepicker .qs-month-year:active:focus,
.qs-datepicker .qs-month-year:focus {
  outline: none;
}

.qs-datepicker .qs-month {
  padding-right: 0.5ex;
}

.qs-datepicker .qs-year {
  padding-left: 0.5ex;
}

.qs-datepicker .qs-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.3125em;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-squares.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-square {
  width: 14.28571%;
  height: 1.5625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  border-radius: 0.26392em;
}

.qs-datepicker .qs-square.qs-current {
  font-weight: 700;
}

.qs-datepicker .qs-square.qs-current span {
  text-decoration: underline;
}

.qs-datepicker .qs-square.qs-active {
  background: #fff;
  color: #000;
}

.qs-datepicker .qs-square.qs-range-date-start:not(.qs-range-date-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle {
  background: #d4ebf2;
}

.qs-datepicker .qs-square.qs-range-date-middle:not(.qs-range-date-0):not(.qs-range-date-6) {
  border-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-end:not(.qs-range-date-0),
.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.qs-datepicker .qs-square.qs-disabled span {
  opacity: 0.2;
}

.qs-datepicker .qs-square.qs-empty {
  cursor: default;
}

.qs-datepicker .qs-square.qs-disabled {
  cursor: not-allowed;
}

.qs-datepicker .qs-square.qs-day {
  cursor: default;
  font-weight: 700;
  color: grey;
}

.qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: orange;
}

.qs-datepicker .qs-event {
  position: relative;
}

.qs-datepicker .qs-event:after {
  content: "";
  position: absolute;
  width: 0.46875em;
  height: 0.46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0;
}

.qs-datepicker .qs-event.qs-disabled:after,
.qs-datepicker .qs-event.qs-empty:after {
  background: #cce4ff;
}

[data-fullscreen] {
  min-height: 100vh;
}
.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}
@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    transition: height 0.2s;
  }
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.map__item {
  transition: all 0.3s ease 0s;
  filter: grayscale(1);
}
@media (any-hover: hover) {
  .map__item:hover {
    filter: grayscale(0);
  }
}

.header {
  position: relative;
}
.header__container {
  display: grid;
  position: relative;
}
.header__logos {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 42px;
}
.header__logos::after {
  content: "";
  background: linear-gradient(to bottom, rgb(255, 255, 255) 1%, rgb(255, 255, 255) 38%, rgb(255, 255, 255) 51%, rgb(255, 255, 255) 67%, rgba(255, 255, 255, 0.918) 100%);
  position: absolute;
  left: 50%;
  width: 1px;
}
@media (min-width: 31.875em) {
  .header__logos::after {
    top: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 31.875em) {
  .header__logos::after {
    top: clamp( 0.3125rem , -0.7401315789rem  +  5.2631578947vw , 0.9375rem );
  }
}
@media (max-width: 20em) {
  .header__logos::after {
    top: 0.3125rem;
  }
}
@media (min-width: 47.9375em) {
  .header__logos::after {
    height: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 47.9375em) {
  .header__logos::after {
    height: clamp( 1.5rem , 0.7841163311rem  +  3.5794183445vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .header__logos::after {
    height: 1.5rem;
  }
}
.header__logo {
  justify-self: center;
}
.header__logo img {
  max-width: 100%;
}
.header__logo img:last-child {
  align-self: center;
}
.header__logo:not(:last-child) {
  padding-top: 2.1875rem;
}
@media (min-width: 75.5em) {
  .header__logo:not(:last-child) {
    padding-bottom: 7.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .header__logo:not(:last-child) {
    padding-bottom: clamp( 3.4375rem , 1.9510135135rem  +  7.4324324324vw , 7.5625rem );
  }
}
@media (max-width: 20em) {
  .header__logo:not(:last-child) {
    padding-bottom: 3.4375rem;
  }
}
@media (max-width: 47.99875em) {
  .header__logo:not(:last-child) {
    padding-top: 3.3125rem;
  }
}
.header__title {
  font-weight: 700;
  color: #F0F0F0;
  max-width: 49.1875rem;
  line-height: 73px;
  justify-self: center;
  text-align: center;
}
@media (min-width: 75.5em) {
  .header__title {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .header__title {
    font-size: clamp( 2.375rem , 1.8795045045rem  +  2.4774774775vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .header__title {
    font-size: 2.375rem;
  }
}
@media (min-width: 75.5em) {
  .header__title {
    line-height: 4.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .header__title {
    line-height: clamp( 2.875rem , 2.2668918919rem  +  3.0405405405vw , 4.5625rem );
  }
}
@media (max-width: 20em) {
  .header__title {
    line-height: 2.875rem;
  }
}
.header__title:not(:last-child) {
  padding-bottom: 2.5rem;
}
@media (max-width: 47.99875em) {
  .header__title:not(:last-child) {
    padding-bottom: 3.125rem;
  }
}
.header__subtitle {
  font-size: 1.25rem;
  color: #F0F0F0;
  max-width: 48.75rem;
  justify-self: center;
  text-align: center;
  line-height: 24px;
}
@media (min-width: 75.5em) {
  .header__subtitle:not(:last-child) {
    padding-bottom: 4.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .header__subtitle:not(:last-child) {
    padding-bottom: clamp( 3.75rem , 3.5022522523rem  +  1.2387387387vw , 4.4375rem );
  }
}
@media (max-width: 20em) {
  .header__subtitle:not(:last-child) {
    padding-bottom: 3.75rem;
  }
}
.header__button {
  justify-self: center;
}
@media (min-width: 75.5em) {
  .header__button {
    margin-bottom: 10.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .header__button {
    margin-bottom: clamp( 5rem , 2.8603603604rem  +  10.6981981982vw , 10.9375rem );
  }
}
@media (max-width: 20em) {
  .header__button {
    margin-bottom: 5rem;
  }
}
.header__bg {
  position: absolute;
  width: 130%;
  height: 130%;
  top: -15%;
  left: -15%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  z-index: -1;
}
.header__bg img {
  min-width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.footer {
  background-color: #0B83BE;
}
.footer__body {
  color: #fff;
  padding-bottom: 3.75rem;
}
@media (min-width: 75.5em) {
  .footer__body {
    padding-top: 2.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .footer__body {
    padding-top: clamp( 2.375rem , 2.1722972973rem  +  1.0135135135vw , 2.9375rem );
  }
}
@media (max-width: 20em) {
  .footer__body {
    padding-top: 2.375rem;
  }
}
.footer__logos:not(:last-child) {
  padding-bottom: 1.875rem;
}
.footer__logo {
  text-align: center;
}
.footer__logo img {
  max-width: 100%;
}
.footer__signature-logo {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.footer__social {
  text-align: center;
}
.footer__social:not(:last-child) {
  padding-bottom: 2.375rem;
}
.footer__contacts {
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 75.5em) {
  .footer__contacts {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .footer__contacts {
    font-size: clamp( 0.875rem , 0.7398648649rem  +  0.6756756757vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .footer__contacts {
    font-size: 0.875rem;
  }
}
.footer__adress:not(:last-child) {
  padding-bottom: 0.9375rem;
}
.experience {
  background-color: #DEF0FF;
}
@media (min-width: 75.5em) {
  .experience {
    padding-top: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .experience {
    padding-top: clamp( 4.5rem , 3.4189189189rem  +  5.4054054054vw , 7.5rem );
  }
}
@media (max-width: 20em) {
  .experience {
    padding-top: 4.5rem;
  }
}
@media (min-width: 75.5em) {
  .experience {
    padding-bottom: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .experience {
    padding-bottom: clamp( 6.25rem , 5.7995495495rem  +  2.2522522523vw , 7.5rem );
  }
}
@media (max-width: 20em) {
  .experience {
    padding-bottom: 6.25rem;
  }
}
.experience__content {
  color: #0F4C92;
  text-align: center;
  max-width: 46.4375rem;
  margin: 0 auto;
}
.experience__title {
  font-weight: 700;
}
@media (min-width: 75.5em) {
  .experience__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .experience__title {
    font-size: clamp( 1.875rem , 1.6497747748rem  +  1.1261261261vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .experience__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 75.5em) {
  .experience__title {
    line-height: 3.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .experience__title {
    line-height: clamp( 2.25rem , 1.9572072072rem  +  1.463963964vw , 3.0625rem );
  }
}
@media (max-width: 20em) {
  .experience__title {
    line-height: 2.25rem;
  }
}
.experience__title:not(:last-child) {
  padding-bottom: 2.5rem;
}
.experience__text {
  font-family: inter;
  line-height: 22px;
  padding: 0 30px;
}

@media (min-width: 75.5em) {
  .smorgasbord {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .smorgasbord {
    padding-top: clamp( 3.3125rem , 2.2539414414rem  +  5.2927927928vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .smorgasbord {
    padding-top: 3.3125rem;
  }
}
@media (min-width: 75.5em) {
  .smorgasbord {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .smorgasbord {
    padding-bottom: clamp( 3.75rem , 3.2995495495rem  +  2.2522522523vw , 5rem );
  }
}
@media (max-width: 20em) {
  .smorgasbord {
    padding-bottom: 3.75rem;
  }
}
.smorgasbord_padding-middleblock {
  padding-top: 0;
}
@media (min-width: 75.5em) {
  .smorgasbord_padding-middleblock {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .smorgasbord_padding-middleblock {
    padding-bottom: clamp( 3.75rem , 3.2995495495rem  +  2.2522522523vw , 5rem );
  }
}
@media (max-width: 20em) {
  .smorgasbord_padding-middleblock {
    padding-bottom: 3.75rem;
  }
}
.smorgasbord_padding-lastblock {
  padding-top: 0;
}
@media (min-width: 75.5em) {
  .smorgasbord_padding-lastblock {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .smorgasbord_padding-lastblock {
    padding-bottom: clamp( 3.75rem , 2.8490990991rem  +  4.5045045045vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .smorgasbord_padding-lastblock {
    padding-bottom: 3.75rem;
  }
}
.smorgasbord__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 75.5em) {
  .smorgasbord__container {
    gap: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .smorgasbord__container {
    gap: clamp( 1.875rem , 0.7488738739rem  +  5.6306306306vw , 5rem );
  }
}
@media (max-width: 20em) {
  .smorgasbord__container {
    gap: 1.875rem;
  }
}
@media (max-width: 61.99875em) {
  .smorgasbord__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.smorgasbord__column:first-child {
  text-align: center;
}
.smorgasbord__column:last-child {
  align-self: center;
}
.smorgasbord__column_return:first-child {
  text-align: left;
  align-self: center;
}
@media (max-width: 61.99875em) {
  .smorgasbord__column_return:first-child {
    order: 2;
  }
}
.smorgasbord__column_return:last-child {
  text-align: center;
}
@media (max-width: 61.99875em) {
  .smorgasbord__column_return:last-child {
    order: 1;
  }
}
.smorgasbord__image img {
  max-width: 100%;
}
.smorgasbord__content:not(:last-child) {
  padding-bottom: 2.5rem;
}
.smorgasbord__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  color: #0F4C92;
}
.smorgasbord__title:not(:last-child) {
  padding-bottom: 1.25rem;
}
.smorgasbord__info {
  line-height: 24px;
  font-size: 1.25rem;
}
.smorgasbord__info:not(:last-child) {
  padding-bottom: 2.5rem;
}
.smorgasbord__text {
  font-weight: 400;
  line-height: 26px;
}
.new-heights {
  background-color: #B5E4FF;
}
@media (min-width: 75.5em) {
  .new-heights {
    padding-top: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .new-heights {
    padding-top: clamp( 4.375rem , 3.6993243243rem  +  3.3783783784vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .new-heights {
    padding-top: 4.375rem;
  }
}
@media (min-width: 75.5em) {
  .new-heights {
    padding-bottom: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .new-heights {
    padding-bottom: clamp( 4.375rem , 3.6993243243rem  +  3.3783783784vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .new-heights {
    padding-bottom: 4.375rem;
  }
}
.new-heights__box {
  background-color: #2B477C;
  border-radius: 1.1875rem;
  max-width: 49.0625rem;
  margin: 0 auto;
}
.new-heights__content {
  display: grid;
  padding: 60px 0;
  justify-content: center;
}
@media (min-width: 75.5em) {
  .new-heights__content {
    padding-left: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .new-heights__content {
    padding-left: clamp( 1.125rem , 0.1790540541rem  +  4.7297297297vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .new-heights__content {
    padding-left: 1.125rem;
  }
}
@media (min-width: 75.5em) {
  .new-heights__content {
    padding-right: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .new-heights__content {
    padding-right: clamp( 1.125rem , 0.1790540541rem  +  4.7297297297vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .new-heights__content {
    padding-right: 1.125rem;
  }
}
.new-heights__body {
  color: #F4F4F4;
  text-align: center;
}
.new-heights__body:not(:last-child) {
  padding-bottom: 1.875rem;
}
.new-heights__title {
  font-weight: 700;
}
@media (min-width: 75.5em) {
  .new-heights__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .new-heights__title {
    font-size: clamp( 1.875rem , 1.6497747748rem  +  1.1261261261vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .new-heights__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 75.5em) {
  .new-heights__title {
    line-height: 3.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .new-heights__title {
    line-height: clamp( 2.25rem , 1.9572072072rem  +  1.463963964vw , 3.0625rem );
  }
}
@media (max-width: 20em) {
  .new-heights__title {
    line-height: 2.25rem;
  }
}
.new-heights__title:not(:last-child) {
  padding-bottom: 1.25rem;
}
.new-heights__subtitle {
  font-weight: 400;
  line-height: 21px;
}
@media (min-width: 75.5em) {
  .new-heights__subtitle {
    font-size: 1.125rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .new-heights__subtitle {
    font-size: clamp( 1rem , 0.954954955rem  +  0.2252252252vw , 1.125rem );
  }
}
@media (max-width: 20em) {
  .new-heights__subtitle {
    font-size: 1rem;
  }
}
.new-heights__button {
  justify-self: center;
}

.map__title {
  font-weight: 700;
  text-align: center;
  color: #0F4C92;
}
@media (min-width: 75.5em) {
  .map__title {
    padding-top: 4.875rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .map__title {
    padding-top: clamp( 3.6875rem , 3.2595720721rem  +  2.1396396396vw , 4.875rem );
  }
}
@media (max-width: 20em) {
  .map__title {
    padding-top: 3.6875rem;
  }
}
@media (min-width: 75.5em) {
  .map__title {
    padding-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .map__title {
    padding-bottom: clamp( 2.5rem , 1.8243243243rem  +  3.3783783784vw , 4.375rem );
  }
}
@media (max-width: 20em) {
  .map__title {
    padding-bottom: 2.5rem;
  }
}
@media (min-width: 75.5em) {
  .map__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .map__title {
    font-size: clamp( 1.875rem , 1.6497747748rem  +  1.1261261261vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .map__title {
    font-size: 1.875rem;
  }
}
@media (min-width: 75.5em) {
  .map__title {
    line-height: 3.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 75.5em) {
  .map__title {
    line-height: clamp( 2.25rem , 1.9572072072rem  +  1.463963964vw , 3.0625rem );
  }
}
@media (max-width: 20em) {
  .map__title {
    line-height: 2.25rem;
  }
}
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  transition-delay: 0s;
  transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
